# ======================
# Python
# ======================
.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
*.log
*.sqlite3
*.db

# ======================
# Environment
# ======================
.env

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db

# ======================
# Misc
# ======================
.claude/