@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;

  --color-limiar-50: #f5f3ff;
  --color-limiar-100: #ede9fe;
  --color-limiar-200: #ddd6fe;
  --color-limiar-300: #c4b5fd;
  --color-limiar-400: #a78bfa;
  --color-limiar-500: #8b5cf6;
  --color-limiar-600: #7c3aed;
  --color-limiar-700: #6d28d9;
  --color-limiar-800: #5b21b6;
  --color-limiar-900: #4c1d95;
  --color-limiar-950: #2e1065;

  --color-void-900: #0f0518;
  --color-void-950: #050208;
}

body {
  background-color: var(--color-void-950);
  color: #f8fafc;
  font-family: var(--font-sans);
  background-image:
    radial-gradient(at 0% 0%, rgba(139, 92, 246, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(124, 58, 237, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display tracking-tight text-white;
}